[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
openapi-spec-validator = "*"
coverage = "*"
flake8 = "*"
mock = "*"
nose = "*"
responses = "*"
yamllint = "*"
black = "==19.10b"
ipdb = "*"
podman-compose = "*"
python-semantic-release = "*"

[packages]
connexion = {extras = ["swagger-ui"],version = "~=2.6"}
Flask = "*"
gunicorn = "*"
prometheus_client = "*"
boto3 = "*"
watchtower = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-script = "*"
flask-migrate = "*"
kerlescan = {editable = true,git = "https://github.com/beav/kerlescan.git",ref = "0.40"}
bitmath = "*"
jsonpatch = "*"
insights-core = "*"

[requires]
python_version = "3.8"

[scripts]
flask = "python standalone_flask_server.py"
tests = "bash run_unit_tests.sh"

[pipenv]
allow_prereleases = true
